@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import "normalize";
@import "col";
@import "animate.min";
@import "font-awesome/_font-awesome";
@import "spinner";

//Variables
//Background
$page-background-color: #f34433;
$tooltip-background-color: #602a25;
$primary-btn-background: #a33024;
$primary-btn-hover-background: #602a25;
$positive-btn-background: #78a33c;
$positive-btn-hover-background: #50922d;
$positive-btn-focus-background: #407424;
//Font color
$primary-color: #fae5e5;
$form-input-color: #333333;
$primary-radius: 4px;
body {
  font-family: 'PT Sans', helvetica, Arial, verdana, sans-serif;
  background: $page-background-color url('../images/bg_stars.svg') no-repeat top left;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: $primary-color;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}

//Font
h1, h2 {
  margin: 63px 0 20px 0;
  font-size: 1.8em;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 1.2em;
  margin: 20px 0 0 0;
}

a {
  color: $primary-btn-background;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

a.delete-all {
  i {
    margin-right: 5px;
  }
}

//toggle view
.hide {
  display: none;
}

.show {
  display: block;
}

.text-right {
  text-align: right;
}

//List
ul, ol {
  line-height: 1.5;
  list-style: none;
  padding: 0;
  margin: 10px 0 5px 0;

  li {
    padding: 3px 10px;

  }
}

.item-list {
  height: 284px;
  overflow: auto;
  background: $tooltip-background-color;

  .delete {
    display: none;
    float: right;
  }

  li {
    &:hover {
      color: $primary-btn-background;
      background: $primary-color;
      transition: all .3s ease-out;
      cursor: pointer;

      .delete {
        display: inline;
        color: $primary-btn-background;

        &:hover {
          color: $primary-btn-hover-background;
        }
      }
    }
  }
}

.rolling-view-container {
  position: relative;
  -webkit-perspective: 800;
}

#rolling-view-container {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: none;

  &.hide {
    display: none;
  }

  &.show {

    display: flex;
  }

}

.rolling-list {
  overflow-y: hidden;
  /* Ensure that we're in 3D space */
  -webkit-transform-style: preserve-3d;
  -webkit-animation-name: x-spin;
  -webkit-animation-duration: 2s;

  li {
    line-height: 0.78;
    font-weight: bold;
    -webkit-animation-name: y-spin;
    -webkit-animation-duration: 3s;
  }
}

//Form
#edit-item-form {
  width: 80%;
  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

input[type="text"], input[type="number"], .btn {
  padding: 8px 10px;
  font-size: .9em;
  margin: 0;
  background: $primary-color;
  border: 0;
  color: $tooltip-background-color;
  outline: none;
}

input[type="text"], input[type="number"] {
  width: 50%;

  &:hover {
    background: white;
  }

  &:focus {
    background: white;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  }

  @media only screen and (max-width: 480px) {
    width: 78%
  }
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  float: left;
  margin: 1px 5px 0 0;

  & + span {
    color: $primary-btn-background;

    &:hover {
      color: $primary-color;
    }
  }
}


.btn {
  padding: 8px 15px;
}

.primary-btn {
  color: $primary-color;
  background: $primary-btn-background;

  &:hover {
    background: $primary-btn-hover-background;
  }
}

.positive-btn {
  color: $primary-color;
  background: $positive-btn-background;

  &:hover {
    background: $positive-btn-hover-background;
  }

  &:focus {
    background: $positive-btn-focus-background;
  }
}

.btn-set {
  margin: 20px 0;

  .btn {
    margin-right: 20px;
  }
}

//Specific btn
.btn-start {
  transition: backgrund .5s ease-out, box-shadow .5 ease-out;
  box-shadow: 0 1px 10px 0 $positive-btn-focus-background;
  text-shadow: 0 1px 3px $positive-btn-focus-background;

  &:hover {
    box-shadow: 0 1px 3px 0 $positive-btn-background;
  }

  .fa, .text {
    transition: all .5s;
  }
}

//Structure

//standard
.shadowed {
  -webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.3));

  img {
    webkit-backface-visibility: hidden;
  }
}

//Tooltip
.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  padding: 2px 10px 6px 10px;
  border-radius: $primary-radius;
  background: $tooltip-background-color;
  width: auto;

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $tooltip-background-color;
    position: absolute;
    bottom: -4px;
    right: 10px;
  }

  span.text {
    color: $primary-color;
    font-size: 0.667em;
  }
}


//Logo
.logo {
  margin: 10px 0 0 20px;
  -vendor-animation-duration: .5s;
  -vendor-animation-delay: 1s;
  -vendor-animation-iteration-count: infinite;
  width: 224px;
  height: 91px;

  img {
    width: 205px;
    height: 83px;
  }

  :hover {
    cursor: pointer;
  }

  .tooltip {
    left: 140px;
    top: 0;
  }
}

//Main Container
.main-container {
  -vendor-animation-duration: .5s;
  -vendor-animation-delay: 3s;
  -vendor-animation-iteration-count: infinite;
  width: 100%;
  height: 100%;
}

.mask {
  //  background: $page-background-color;
  opacity: .95;
  position: fixed;
  width: 100%;
}

#mask-top {
  background: -moz-linear-gradient(top, rgba(243, 68, 51, 0.95) 90%, rgba(243, 68, 51, 0) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(243, 68, 51, 0.95) 90%, rgba(243, 68, 51, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(243, 68, 51, 0.95) 90%, rgba(243, 68, 51, 0) 100%); /* W3C */
  top: 0;
  left: 0;
}

#mask-bottom {
  background: -moz-linear-gradient(top, rgba(243, 68, 51, 0) 0%, rgba(243, 68, 51, 0.95) 15%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(243, 68, 51, 0) 0%, rgba(243, 68, 51, 0.95) 15%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(243, 68, 51, 0) 0%, rgba(243, 68, 51, 0.95) 15%); /* W3C */
  height: 100px;
  top: 0;
  left: 0;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.winner {
  .fa-trophy {
    margin-right: 4px;
  }

  &.masked {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    width: 80%;
    background: linear-gradient(to right, #f34433 8%, #a33024 18%, #f34433 33%);
    background-size: 800px 104px;
    position: relative;
  }
}

.float-right {
  float: right;
}

@media only screen and (max-width: 480px) {
  .logo {
    margin-left: 0;
  }
  h1, h2 {
    margin: 5px 0 10px 5px;
  }
  .btn-start {
    margin-left: 30px;
  }
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}