@import "normalize.css";
@import "col.css";
@import "http://fonts.googleapis.com/css?family=PT+Sans:400,700";
@import "animate.min.css";
@import "font-awesome/font-awesome";

//Variables
  //Background
$page-background-color: #f34433;
$tooltip-background-color: #602a25;
$primary-btn-background: #a33024;
$primary-btn-hover-background: #602a25;
$positive-btn-background: #78a33c;
$positive-btn-hover-background: #50922d;
$positive-btn-focus-background: #407424;
  //Font color
$primary-color: #fae5e5;
$form-input-color: #333333;
$primary-radius: 4px;
body{
  font-family: 'PT Sans', helvetica, Arial, verdana, sans-serif;
  background: $page-background-color;
  font-size: 18px;
  line-height: 1;
  margin:0;
  padding:0;
  color:$primary-color;
}
//Font
h1, h2{
  margin:63px 0 20px 0;
  font-size:1.8em;
  text-shadow: 0 1px 5px rgba(0,0,0, 0.3);
}

h2{
  font-size: 1.2em;
  margin:20px 0 0 0;
}
a{
  color:$primary-btn-background ;
  text-decoration: none;
  &:hover{
    color:$primary-color;
    text-decoration: underline;
  }
}
//toggle view
.hide{
  display:none;
}
.show{
  display:block;
}
//List
ul, ol{
  line-height: 1.5;
  list-style: none;
  padding:0;
  li{
    padding:3px 10px;

  }
}

.item-list{
  height:240px;
  overflow: auto;
  background: $tooltip-background-color;
  .delete{
    display:none;
    float:right;
  }
  li{
    &.hover{
      color:$primary-btn-background;
      background: $primary-color;
      transition:all .3s ease-out;
      cursor: pointer;
      .delete{
        display: inline;
        color:$primary-btn-background;
        &:hover{
          color:$primary-btn-hover-background;
        }
      }
    }
  }
}
//Form
#edit-item-form{
  width:80%;
  @media only screen and (max-width: 480px) {
    width:100%;
  }
}
input[type="text"], .btn{
  padding: 8px 10px;
  font-size:.9em;
  margin:0;
  background: $primary-color ;
  border:0;
  color:$tooltip-background-color;
  outline:none;
}
input[type="text"]{
  width:78%;
  &:hover{
    background: white;
  }
  &:focus{
    background: white;
    box-shadow:inset 0 1px 1px 0 rgba(0, 0, 0, 0.3) ;
  }
}
.btn{
  padding:8px 15px;
}
.primary-btn{
  color:$primary-color;
  background: $primary-btn-background;
  &:hover{
    background: $primary-btn-hover-background;
  }
}
.positive-btn{
  color:$primary-color;
  background: $positive-btn-background;
  &:hover{
    background: $positive-btn-hover-background;
  }
  &:focus{
    background: $positive-btn-focus-background;
  }
}

.btn-set{
  margin: 20px 0;
  .btn{
    margin-right:20px;
  }
}

//Specific btn
.btn-start{
  transition: backgrund .5s ease-out, box-shadow .5 ease-out;
  box-shadow: 0 1px 10px 0 $positive-btn-focus-background;
  text-shadow: 0 1px 3px $positive-btn-focus-background;
  &:hover{
    box-shadow:0 1px 3px 0 $positive-btn-background;
  }
  .fa, .text{
    transition:all .5s;
  }
}
//Structure

//standard
.shadowed{
  -webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0, 0.3)) ;
  img{
    webkit-backface-visibility: hidden;
  }
}
//Tooltip
.tooltip-container{
  position: relative;
}
.tooltip{
  position: absolute;
  padding: 2px 10px 6px 10px;
  border-radius: $primary-radius;
  background: $tooltip-background-color;
  width:auto;
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $tooltip-background-color;
    position: absolute;
    bottom:-4px;
    right:10px;
  }
  span.text{
    color:$primary-color;
    font-size: 0.667em;
  }
}


//Logo
.logo{
  margin: 10px 0 0 20px;
  -vendor-animation-duration: .5s;
  -vendor-animation-delay: 1s;
  -vendor-animation-iteration-count: infinite;
  :hover{
    cursor:pointer;
  }
  .tooltip{
    left:140px;
    top:0;
  }
}

//Main Container
.mainContainer{
  -vendor-animation-duration: .5s;
  -vendor-animation-delay: 3s;
  -vendor-animation-iteration-count: infinite;
}