@import "normalize.css";
@import "col.css";
@import "http://fonts.googleapis.com/css?family=PT+Sans:400,700";
@import "animate.min.css";
@import "font-awesome/font-awesome";

//Variables
  //Background
$page-background-color: #f34433;
$tooltip-background-color: #602a25;
$primary-btn-background: #a33024;
$primary-btn-hover-background: #602a25;
$positive-btn-background: #78a33c;
$positive-btn-hover-background: #50922d;
  //Font color
$primary-color: #fae5e5;
$form-input-color: #333333;
$primary-radius: 4px;

//Font
h1{
  color:$primary-color;
  margin:63px 0 20px 0;
  font-size:1.8em;
  text-shadow: 0 1px 5px rgba(0,0,0, 0.3);
}
a{
  color:$primary-btn-background ;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
//Form
input[type="text"], .btn{
  padding: 8px 10px;
  font-size:.9em;
  margin:0;
  background: $primary-color ;
  border:0;
  color:$tooltip-background-color;
  outline:none;
}
input[type="text"]{
  width:85%;
  &:hover{
    background: white;
  }
  &:focus{
    background: white;
    box-shadow:inset 0 1px 1px 0 rgba(0, 0, 0, 0.3) ;
  }
}
.btn{
  padding:8px 15px;
}
.primary-btn{
  color:$primary-color;
  background: $primary-btn-background;
  &:hover{
    background: $primary-btn-hover-background;
  }
}
.positive-btn{
  color:$primary-color;
  background: $positive-btn-background;
  &:hover{
    background: $positive-btn-hover-background;
  }
}

.btn-set{
  margin: 20px 0;
  .btn{
    margin-right:20px;
  }
}
//Structure
body{
  font-family: 'PT Sans', helvetica, Arial, verdana, sans-serif;
  background: $page-background-color;
  font-size: 18px;
  line-height: 1;
  margin:0;
  padding:0;
}
//standard
.shadowed{
  -webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0, 0.3)) ;
  img{
    webkit-backface-visibility: hidden;
  }
}
//Tooltip
.tooltip-container{
  position: relative;
}
.tooltip{
  position: absolute;
  padding: 2px 10px 6px 10px;
  border-radius: $primary-radius;
  background: $tooltip-background-color;
  width:auto;
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $tooltip-background-color;
    position: absolute;
    bottom:-4px;
    right:10px;
  }
  span.text{
    color:$primary-color;
    font-size: 0.667em;
  }
}


//Logo
.logo{
  margin: 10px 0 0 20px;
  -vendor-animation-duration: .5s;
  -vendor-animation-delay: 1s;
  -vendor-animation-iteration-count: infinite;
  :hover{
    cursor:pointer;
  }
  .tooltip{
    left:140px;
    top:0;
  }
}

//Main Container
.mainContainer{

}